<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
  <div class="errors-container">
    <div id="error_explanation">
      <h2 class="text-center text-danger p5"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <div class="errors-values bg-danger">
         <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
     
    </div>
  </div>
    
  <% end %>
<div class="form-container">
  <div class="field">
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %> <br>
    <%= form.text_area :description, rows: "15" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
</div>
  
<% end %>
