<p id="notice"><%= notice %></p> 
<h2 class="list-title text-uppercase text-center p5 text-success font-size-large">list of Articles</h2>


<div class="container">
  
  
  <div class="list-container mx-auto">
    <% @articles.each do |article| %>
    <div class="list-card">
      <h3 class="list-article-title text-center p5">
        <%= link_to "#{article.title}", article, class: "text-center text-uppercase"%>
      </h3>
      <p class="list-article-description">
        <%= truncate(article.description,  length: 100) %>
      </p>
      <div class="list-btn">
        <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>
 
  <% end %>
  <hr>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
     </div>
    
  </div>
 



